body, td, th, div.backlinks { font-family: Tahoma; font-size: 9pt;
	font-weight: normal; }
td { padding-right: 8pt; }
th { background-color: #BBBBD4; }
h2 { margin-top: 12pt; margin-bottom: 5pt; }
tt { font-size: 11pt; }
p, div { margin-left: 10pt; }
p { margin-top: 5pt; margin-bottom: 5pt; }
div { margin-top: 0pt; margin-bottom: 0pt; }
.toc { border: 1px solid #999966; background-color: #FFFFE0;
  padding-left: 6pt; padding-top: 4pt; padding-right: 6pt; padding-bottom: 6pt; }
.grid { border-left: 1px solid #999966; border-top: 1px solid #999966; }
.grid td, .grid th {
  border-right: 1px solid #999966; border-bottom: 1px solid #999966;
  padding-left: 3px; padding-right: 2px;
}
a.complete:link, a.complete:visited,
.backlinks a.complete:link, .backlinks a.complete:visited
  { color: #9999CC; text-decoration: none; border-bottom: 1px solid #9999CC; }
a.started:link, a.started:visited,
.backlinks a.started:link, .backlinks a.started:visited
  { color: #6666FF; text-decoration: none; border-bottom: 1px dashed #6666FF; }
.inprogress { color: #D0D0D0; }
.completed { color: #0000CC; }
a:link, a:visited, .backlinks a:link, .backlinks a:visited
  { color: #99BB99; text-decoration: none; }
a.black:link, a.black:visited { color: #000000; }
a:hover, .backlinks a:hover { color: #FF0000; }
a.complete:hover, .backlinks a.complete:hover
  { color: #FF0000; border-bottom: 1px solid #FF0000; }
a.started:hover, .backlinks a.started:hover
  { color: #FF0000; border-bottom: 1px dashed #FF0000; }
.literal { background-color: #E0E0E0; }
.unknownRule, a.unknownRule:link, a.unknownRule:visited
  { background-color: #FF0000; color: #FFFFFF; }
div.backlinks { margin-left: 0pt; margin-bottom: 5pt; color: #000000; }
.nocode { background-color: #DDDDF4; }
.notests { background-color: #FFCC00; }
a.backtotop { text-decoration: none; }
a.backtotop:link, a.backtotop:visited { color: #F4F4F4; }
a.backtotop:hover { color: #FF0000; }